.content{
    margin-top: 100px;
}

.form-container {
    max-width: 500px; /* Largura máxima para o formulário */
    margin: 0 auto; /* Centraliza o formulário horizontalmente */
    padding-top: 20px; /* Espaçamento entre o título e o formulário */
  }
  
  .form-group.row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .col-form-label {
    flex: 0 0 25%; /* Largura dos labels */
    text-align: right; /* Alinha o texto dos labels à direita */
    margin-right: 10px; /* Espaçamento entre o label e o input */
  }
  
  .col-sm-9 {
    flex: 1; /* O input ocupa o espaço restante */
  }
  
  .form-control {
    width: 100%;
  }
  
  .btn {
    width: 50%; /* O botão ocupa metade da largura disponível */
    max-width: 150px;
    color:#116472  /* Largura máxima do botão */
  }

