.bgnav{
    background-color:   #116472 ;
    height: 100px;
}

.link{
color:#FAF9F6;
text-decoration: none;
font-family: "Poetsen One", sans-serif;

 

}
.link:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #FAF9F6;
    text-underline-offset: 4px;
    
}